.navBar {
    display: flex;
    align-items: flex-start;
  }
  .charlesmLogo {
    margin-right: 159.5px;
    display: flex;
    align-items: flex-start;
  }
  .starVectors {
    width: 100px;
    height: 83.55px;
    margin-right: 0.5px;
  }
  .charlesM {
    height: 22.23%;
    width: 66.33%;
    color: $white-primary;
    display: flex;
    text-align: center;
    margin-top: 27.39px;
    letter-spacing: 6.6px;
    @include timmana-24-regular;
  }
  .navLabels {
    width: calc(21.44% - 20px);
    height: calc(50% - 18.57px);
    margin-top: 45.49px;
    margin-right: 287px;
    padding: 9.28px 10px 9.29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about {
    height: 26.92px;
    width: 61px;
    display: flex;
    text-align: center;
    margin-right: 54px;
    color: $white-primary;
    @include timmana-18-regular;
  }
  .aboutEmphasis1 {
    color: $white-primary;
    @include timmana-18-regular;
  }
  .skills {
    height: 26.92px;
    width: 39px;
    color: $white-primary;
    display: flex;
    text-align: center;
    margin-right: 54px;
    @include timmana-18-regular;
  }
  .projects {
    height: 26.92px;
    width: 58px;
    color: $white-primary;
    display: flex;
    text-align: center;
    @include timmana-18-regular;
  }
  .navSocialIconsLi {
    width: calc(22.71% - 46.5px);
    height: calc(65.3% - 27.85px);
    margin-top: 31.56px;
    padding: 13.92px 20.75px 13.93px 25.75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pinterestP {
    width: 22.5px;
    height: 20.46px;
    margin-right: 80px;
    border: 3px solid $white-smoke;
    border-radius: 5px;
  }
  .linkedIn {
    width: 34px;
    height: 31.56px;
    &:not(:last-of-type) {
      margin-right: 80px;
    }
  }